* {
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    color: goldenrod;
}

.verso_card,
.recto_card {
    box-sizing: border-box;
    border: black 2px solid;
    width: 85mm;
    height: 55mm;
}

.verso_card {
    background-image: url("img/fond.png");
}

.recto_card {
    background-color: black;
}

.verso_card hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55mm;
    vertical-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    text-shadow: 1px 1px 8px goldenrod;
}

.verso_card p {
    font-size: 1rem;
}

.recto_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.8rem;
}

main hgroup > * {
    font-size: 0.7rem;
    text-align: left;
}

address {
    font-style: normal;
    font-size: 0.5rem;
}

address p {
    text-align: left;
    padding: 0.2rem;
    border: 1px solid goldenrod;
    border-radius: 0.2rem;
}

address a {
    color: goldenrod;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}

address a:visited {
    color: goldenrod;
    text-decoration: none;
}

aside img {
    width: 5rem;
    border-radius: 15%;
    border: goldenrod 2px solid;
}

hr {
    background-color: goldenrod;
    padding: 0.3px;
    border: none;
}