* {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.card {
    box-sizing: border-box;
    border: black 2px solid;
    width: 85mm;
    height: 55mm;
}

header {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3.5rem;
}

header img {
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.8rem;
}

main {
    font-size: 0.5rem;
}

h1 {
    text-shadow: 1px 1px 2px gray;
}

address {
    font-style: normal;
    font-size: 0.6rem;
}

address p {
    text-align: left;
}

address a {
    color: black;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}

address a:visited {
    color: black;
    text-decoration: none;
}

aside img {
    width: 4rem;
    border-radius: 15%;
    border: black 2px solid;
}